@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="zoogle-title">Zoogle</h1>
    <p>Where animals always feel lucky</p>
</div>

<div class="accordion" id="accordion">
    @for (int i = 0; i < Model.Animals.Count; i++)
    {
        <div class="card">
            <div class="card-header pl-1" id=@($"heading-{i}")>
                <h2 class="mb-0">
                    <button class="btn btn-link font-weight-bold collapsed animal-header" type="button" data-toggle="collapse" data-target=@($"#collapse-{i}") aria-expanded="true" aria-controls=@($"collapse-{i}")>
                        <img class="animal-icon mr-2" src=@Model.Animals[i].ImageUrl />@Model.Animals[i].CommonName
                        <!--
                            <img class="plus-icon icon-visible" src="https://content.codecademy.com/courses/asp-dot-net/animal-icons/plus-blue-32-32.png" />
                            <img class="minus-icon icon-hidden" src="https://content.codecademy.com/courses/asp-dot-net/animal-icons/minus-blue-32-32.png" />
                                -->
                    </button>
                </h2>
            </div>

            <div id=@($"collapse-{i}") class="collapse" aria-labelledby=@($"heading-{i}") data-parent="#accordion">
                <div class="card-body">
                    <h5 class="card-title">Scientific Name</h5>
                    <p class="card-text">@Model.Animals[i].Species</p>
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">@Model.Animals[i].Description</p>
                    <h5 class="card-title">Habitat</h5>
                    <ul>
                        @foreach (string habitat in Model.Animals[i].Habitats)
                        {
                            <li>@habitat</li>
                        }
                    </ul>
                    <h5 class="card-title">Size</h5>
                    <p class="card-text">Height: @Model.Animals[i].Height cm<br />Weight: @Model.Animals[i].Weight kg</p>
                </div>
            </div>
        </div>
    }
</div>